*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
main{
    padding-left: 38px;
}
nav{
    background-color: black;
    color: white;
    width: 1728px;
    height: 87px;
} 
#navp{
    width: 180px;
    height: 29px;
    font-weight: 300;
    font-size: 24px;
    padding-top: 29px;
    padding-left: 38px;
}
#heading{
    width: 600px;
    font-size: 64px;
    font-weight: 400;
    padding-top: 53px;
}
#div2{
    width: 1624px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
    font-weight: lighter;
}
button{
    width: 226px;
    height: 58px;
    background-color: #000000;
    color: white;
    font-size: 24px;
    margin-top: 85px;
    font-weight: lighter;
}
img{
    width: 729px;
    height: 911px;
    margin-top: 100px;
}
ol{
    margin-top: 20px;
    margin-left: 38px;
    font-size: 24px;
    font-weight: 300;
    font-weight: lighter;
    line-height: 29px;
}
ul{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 38px;
    font-size: 24px;
    font-weight: 300;
    font-weight: lighter;
    line-height: 29px;
}
